---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProductCard from '../components/ProductCard.astro';
import content from '../data/content.json';
import products from '../data/products.json';

const featuredProducts = content.home.featuredCollection.featuredProductIds.map(id => 
    products.products.find(p => p.id === id)
).filter(Boolean);
---

<Layout>
    <Hero />
    <section class="container mx-auto px-4 sm:px-6 lg:px-8 py-12 mt-12">
        <h2 class="text-3xl font-medium text-center mb-12">{content.home.featuredCollection.title}</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {featuredProducts.map(product => (
                <ProductCard product={product} />
            ))}
        </div>
         <div class="text-center mt-16">
            <a href="/shop" class="btn-secondary text-lg">{content.home.featuredCollection.buttonText}</a>
        </div>
    </section>
</Layout>

<style>
.btn-secondary {
    background-color: transparent;
    color: #204566;
    border: 2px solid #204566;
    padding: calc(1rem - 2px) calc(2rem - 2px);
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background-color: #204566;
    color: #fffaf0;
}
</style>
