---
import content from '../data/content.json';
---

<div class="relative text-center text-white h-[60vh] md:h-[80vh] flex items-center justify-center">
    <img src={content.home.hero.backgroundImage} alt="Modest fashion cover" class="absolute inset-0 w-full h-full object-cover -z-10">
    <div class="absolute inset-0 bg-black/40 -z-10"></div>
    <div>
        <img src="/assets/logo/artboard-4-copy-68f93e9be7957.webp" alt="nisa logo" style="height: 30rem;">
    </div>
</div>
